xcdebugger
build
DerivedData

# Produced by xcodebuild test runs
TestResults

# User-specific data and configuratio
xcuserdata

# Installed in docker image in CI
Pods/SwiftLint/

# fastlane specific
**/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output

*.ipa

*.zip
